@media (max-height: 300px) {
    label {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    label {
        font-size: 10px;
    }
}

body {
    background: transparent;
    height: 100%;
}

button {
    display: block;
    margin: 4.5% auto;
    height: 7vh;
    min-height: 25px;
    font-size: 5hw;
    width: 18vw;
    min-width: 150px;
}

div.background {
    background-origin: content-box;
    background-repeat: repeat-y;
    background-size: cover;
    background-position-x: center;
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    z-index:-1;
}

div.drawingSpace {
    height: 100%;
    width: auto;
    display: block;
}

footer {
    height:31px;
    margin-bottom:-31px;
    width:100%;
    position: relative;
}

input[type=range] {
    width: 97%;
    margin: 0.2%; 0%;
    height: 2wh;
    display: inline;
    vertical-align: middle;
}

label {
    font-family: verdana;
    font-size: 2.9vh;
    margin: 1px 2%;
    vertical-align: middle;
}

path {
    style="stroke:#111;stroke-width:5;stroke-linejoin:round;fill:#111;
}

svg {
    stroke:rgb(0,0,0);
    fill:rgb(0,0,0);
}

.canvas {
    height: 0px; /* set via javascript */
    width: 94vw;
    margin: auto;
    float: left;
}

.canvas-menu-item {
    width:3vw;
    height: 3vw;
    background-color: rgba(200, 200, 200, 0.5);
    padding: 4px;
    margin: 1px 5px;
    min-width: 20px;
    min-height: 20px;
    max-width: 40px;
    max-height: 40px;
}

.centered {
    margin: auto;
}

.content {
  min-height: 100%;
  position: relative;
}

.customContainer {
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding: 0vh;
    z-index: 1;
}

.drawFrameSpace {
    width: 98vh;
}

.footerContainer {
    float: left;
    position: relative;
    height: 30px;
    width: 30px;
    margin: 0 3px;
}

.footerDrawable {
    padding:7px;
    position:absolute;
    height:100%;
    top:0px;
    pointer-events: none;
    x-index: -1;
}

.frameSpace {
    width: auto;
    display: inline-block;
}

.playbutton {
    width: 40%;
    margin: 10px 31%;
    height: 28px;
}

.slider {
    -webkit-appearance: none;
    background: #d0d0d0;
    outline: none;
    border-radius: 10px;
    height: 2vh;
}

.slider::-moz-range-thumb {
    width: 3.2vh;
    height: 3.2vh;
    cursor: pointer;
    background: #4CAF50;
    border-radius: 50%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3.2vh;
    height: 3.2vh;
    cursor: pointer;
    background: #4CAF50;
    border-radius: 50%;
}

.sliders {
  width: 100%;
  height: auto;
  margin: 10vh 0;
}

.wrapper {
  overflow: hidden;
  position: relative
}

#drawCanvasButtons {
    height:100%;
    display:inline-block;
    width: 20px;
    float: left;
}

#controlpanel {
    margin:auto;
}

#loading-screen {
    position:relative; 
    z-index:1;
}

